[submodule ".config/xmonad/xmonad"]
	path = .config/xmonad/xmonad
	url = https://github.com/xmonad/xmonad
	branch = v0.17.0
[submodule ".config/xmonad/xmonad-contrib"]
	path = .config/xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
	branch = v0.17.0
