Config { overrideRedirect = False
       , font = "xft:JetBrainsMonoNerdFont:size=10:antialias=true"
       , bgColor = "#1d2021"
       , fgColor = "#ebddb2"
       , position = TopW L 95 -- leave space for trayer
       , commands = [ Run MultiCpu [ "--template", "\xf2db  <total0>% <total1>% <total2>% <total3>% <total4>% <total5>% <total6>% <total7>%"
                                   , "--Low", "40"
                                   , "--High", "90"
                                   , "--low", "#98971a"
                                   , "--normal", "#d79921"
                                   , "--high", "#cc241d"
                                   ] 10
                    , Run Memory ["--template", "\xf85a <usedratio>%"
                                 , "--Low", "30"
                                 , "--High", "90"
                                 , "--low", "#98971a"
                                 , "--normal", "#d79921"
                                 , "--high", "#cc241d"
                                 ] 10
                    , Run Battery [ "--template", "<leftipat> <acstatus>"
                                  , "--Low", "15"
                                  , "--High", "85"
                                  , "--low", "#cc241d"
                                  , "--normal", "#d79921"
                                  , "--high", "#98971a"
                                  , "--"
                                  , "-o", "<left>% (<timeleft>)"
                                  , "-O", "<left>% (<timeleft>)"
                                  , "-i", "<left>% (<timeleft>)"
				  , "-a", "notify-send -u critical 'Battery level critical!'"
				  , "--on-icon-pattern", "<fc=#d79921>\xf583</fc>"
				  , "--off-icon-pattern", "\xf57e"
				  , "--idle-icon-pattern", "<fc=#98971a>\xf578</fc>"
                                  ] 50
		    , Run Alsa "default" "Master" ["--template", "<fc=#458588>\xfa7d </fc> <volume>%"]
		    , Run Alsa "default" "Capture" ["--template", "<fc=#458588>\xf130 </fc> <volume>%"]
		    , Run Brightness [ "--template", "<fc=#d79921>\xf5dd </fc> <percent>%", "--", "-D", "intel_backlight"] 10
                    , Run Date "<fc=#b16286>%H:%M</fc> - <fc=#98971a>%a %d-%m-%y</fc>" "date" 60
                    , Run XMonadLog
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <action=`rofi -show run` button=1><fc=#cc241d>>></fc><fc=#928374>=</fc></action> |\
                      \ %XMonadLog% }{ %date% |\
                      \ <action=`alacritty -e alsamixer` button=1>\
		      \<action=`amixer set Master 1+` button=4><action=`amixer set Master 1-` button=5>%alsa:default:Master%</action></action> | \
		      \<action=`amixer set Capture 1+` button=4><action=`amixer set Capture 1-` button=5>%alsa:default:Capture%</action></action>\
		      \</action> |\
		      -- \ <action=`xbacklight -inc 2` button=4><action=`xbacklight -dec 2` button=5>%bright%</action></action> |\ -- updates too rare to be smooth
		      \ %bright% |\
		      \ %battery% |\
		      \ <action=`alacritty -e htop` button=1>%multicpu% | %memory%</action> "
       }
